<% if @company and @company.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @company.errors.each do |attr,msg| %>
        <li><%= attr %> <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @company, :url => {:controller => "admin/companies", :action => action}  do |f| %>
  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label Company.human_attribute_name("name"), class:"form-label" %>
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <% if current_user.company_role? %>
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label Company.human_attribute_name("industries"), class:"form-label" %>
          <%= select_tag "industries", options_from_collection_for_select(Industry.order_by_name, :id, :name, @company.industries.map{ |j| j.id }), {class:"form-control", :multiple => true, :size => 6} %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-row row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Detalle", class:"form-label" %>
        <%= f.text_area :detail, rows: 5, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :logo, Company.human_attribute_name("logo"), class:"form-label" %>
        <div class="custom-file">
          <%= f.file_field :logo, class:"custom-file-input" %>
          <%= f.label :logo, @company.show_file_name_for(field: :logo, numCharacters: 40), class: "custom-file-label", "data-browse" => "Elegir" %>
        </div>
        <% unless @company.logo.blank? %>
          <%= image_tag @company.logo(:thumbnail), class:"mt-2 w-75", loading: "lazy" %>
          <%= link_to '<span class="fa fa-trash text-danger"></span>'.html_safe, edit_admin_company_path(@company, logo: true), class:'btn btn-light btn-xs btn-delete-photo' %>
          <br><br>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="form-group">

        <%= f.label :main_photo, Company.human_attribute_name("main_photo"), class:"form-label" %>
        <div class="custom-file">
          <%= f.file_field :main_photo, class:"custom-file-input" %>
          <%= f.label :main_photo, @company.show_file_name_for(field: :main_photo, numCharacters: 40), class: "custom-file-label", "data-browse" => "Elegir" %>
        </div>
        <% unless @company.main_photo.blank? %>
          <%= image_tag @company.main_photo(:small), class:"mt-2", loading: "lazy" %>
          <% unless @company.id.blank? %>
            <%= link_to '<span class="fa fa-trash text-danger"></span>'.html_safe, edit_admin_company_path(@company, main_photo: true), class:'btn btn-light btn-xs btn-delete-photo' %>
          <% end %>
          <br><br>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :cover_photo, Company.human_attribute_name("cover_photo"), class:"form-label" %>
        <div class="custom-file">
          <%= f.file_field :cover_photo, class:"custom-file-input" %>
          <%= f.label :cover_photo, @company.show_file_name_for(field: :cover_photo, numCharacters: 40), class: "custom-file-label", "data-browse" => "Elegir" %>
        </div>
        <% unless @company.cover_photo.blank? %>
          <%= image_tag @company.cover_photo(:thumbnail), class:"mt-2", loading: "lazy" %>
          <% unless @company.id.blank? %>
            <%= link_to '<span class="fa fa-trash text-danger"></span>'.html_safe, edit_admin_company_path(@company, cover_photo: true), class:'btn btn-light btn-xs btn-delete-photo' %>
          <% end %>
          <br><br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label Company.human_attribute_name("from_date"), class:"form-label" %>
        <%= f.date_field :from_date, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label Company.human_attribute_name("country"), class:"form-label"%>
        <% country = selected_country(@company, params[:company]) %>
        <%= f.select(:country, countries_list, { include_blank: false, selected: country }, { class:'form-control' }) %>
      </div>
    </div>
        <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Ciudad", class:"form-label" %>
        <%= f.text_field :city, class:"form-control" %>
      </div>
    </div>
  </div>

    <div class="form-row">
      <div class="col-md-2">
        <div class="form-group custom-control custom-checkbox mt-md-4">
          <%= f.check_box :active, class:"custom-control-input" %>
          <%= f.label :active, Company.human_attribute_name("active"), class:"custom-control-label"%>
        </div>
      </div>
    </div>
    <br/>

  <div class="form-group">
    <%= f.submit t('admin.submit'), class:"btn btn-lg btn-primary", data: { disable_with: t('messages.sending') } %>
  </div>

<% end %>
