<% content_for :title, t('job.index.header.title') %>

<%# if @company_special_event.present? && @company_special_event.home_banner_active? && !(cookies[:iframe_mode].present? && cookies[:iframe_mode] == 'true')%>
    <%# render :partial => 'home/special_event_live_banner' %>
<%# end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
			<div class="job-title-header">
	  		<h1>
          <%if @job_search_type.present?%>
            <%=t('job.other.all_' + @job_search_type + '_jobs', :name => @job_search_value)%>
          <%else%>
            <%=t('job.main.title')%>
          <%end%>
        </h1>
	  		<p>
          <%unless params[:q].blank? || @jobs.blank?%>
            <%=t('job.main.search', :count => @jobs.count, :query => params[:q])%>
          <%else%>
            <%=t('job.main.detail')%>
          <%end%>
        </p>
			</div>
    </div>
	</div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%if !(cookies[:iframe_mode].present? && cookies[:iframe_mode] == 'true')%>
        <% if params[:company_name_id] %>
          <%= form_tag(company_companies_jobs_path(name_id: params[:company_name_id]), method: :get, class: "form-horizontal", enforce_utf8: false) do %>
            <div class="input-group">
              <%= text_field_tag(:q, params[:q], class: "form-control input-lg input-search-lg", placeholder: "Ej: Analista en Finanzas...") %>
              <span class="input-group-btn">
                <%= submit_tag("Buscar", name: nil, class: "btn btn-search btn-lg margin-bottom-sm") %>
              </span>
            </div>
            <div class="form-inline jobs-search">
              <button type="button" class="btn btn-show-filters btn-sm btn-block-xs margin-bottom-sm hidden-sm hidden-md hidden-lg collapsed toggle-text" data-toggle="collapse" data-target="#filters" aria-expanded="false">
                <span>Mostrar</span><span class="hidden">Ocultar</span> filtros
              </button>
              <div id="filters" class="filters">
                <div class="form-row col-md-12">
                  <div class="col-md-4">
                    <%= select_tag :country, options_for_select(@countries.collect {|c| [ c['name'], c['alpha2'] ] }, params[:country]), include_blank: "País", class: "form-control margin-bottom-sm" %>
                  </div>
                  <div class="col-md-4">
                    <%= select_tag :industry, options_from_collection_for_select(@industries, :id, :name, params[:industry]), include_blank: "Industria", class: "form-control margin-bottom-sm" %>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="col-md-12">
                    <%= text_field_tag :skills, params[:skills], placeholder: "Skills", class: 'form-control margin-bottom-sm multiple-input' %>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="col-md-4">
                    <%= select_tag :level, options_from_collection_for_select(@levels, :id, :name, params[:level]), include_blank: "Nivel", class: "form-control margin-bottom-sm" %>
                  </div>
                  <div class="col-md-3">
                    <div class="checkbox" style="padding:0 3px;">
                    <label style="padding-left:0;">
                      <%= check_box_tag :part_time, true, params[:part_time] %>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Part time
                    </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="checkbox" style="padding:0 3px;">
                    <label style="padding-left:0;">
                      <%= check_box_tag :remote, true, params[:remote] %>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Remoto
                    </label>
                    </div>
                  </div>
                  <%= hidden_field_tag :special_event, params[:special_event] %>
                  <%= hidden_field_tag :token, params[:token] %>
                  <%= submit_tag("Filtrar", name: nil, class: "btn btn-filter btn-block-xs margin-bottom-sm col-md-2") %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= form_tag(jobs_path, method: :get, class: "form-horizontal", enforce_utf8: false) do %>
            <div class="input-group">
              <%= text_field_tag(:q, params[:q], class: "form-control input-lg input-search-lg", placeholder: "Ej: Analista en Finanzas...") %>
              <span class="input-group-btn">
                <%= submit_tag("Buscar", name: nil, class: "btn btn-search btn-lg margin-bottom-sm") %>
              </span>
            </div>
            <div class="form-inline jobs-search">
              <button type="button" class="btn btn-show-filters btn-sm btn-block-xs margin-bottom-sm hidden-sm hidden-md hidden-lg collapsed toggle-text" data-toggle="collapse" data-target="#filters" aria-expanded="false">
                <span>Mostrar</span><span class="hidden">Ocultar</span> filtros
              </button>
              <div id="filters" class="filters">
                <div class="form-row col-md-12">
                  <div class="col-md-4">
                    <%= select_tag :country, options_for_select(@countries.collect {|c| [ c['name'], c['alpha2'] ] }, params[:country]), include_blank: "País", class: "form-control margin-bottom-sm" %>
                  </div>
                  <div class="col-md-4">
                    <%= select_tag :industry, options_from_collection_for_select(@industries, :id, :name, params[:industry]), include_blank: "Industria", class: "form-control margin-bottom-sm" %>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <div class="col-md-12">
                    <%= text_field_tag :skills, params[:skills], placeholder: "Skills", class: 'form-control margin-bottom-sm multiple-input' %>
                  </div>
                </div>
                <div class="form-row col-md-12">
                  <!--<div class="col-md-4">
                    <%# select_tag :level, options_from_collection_for_select(@levels, :id, :name, params[:level]), include_blank: "Nivel", class: "form-control margin-bottom-sm" %>
                  </div>-->
                  <div class="col-md-3">
                    <div class="checkbox" style="padding:0 3px;">
                    <label style="padding-left:0;">
                      <%= check_box_tag :part_time, true, params[:part_time] %>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Part time
                    </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="checkbox" style="padding:0 3px;">
                    <label style="padding-left:0;">
                      <%= check_box_tag :remote, true, params[:remote] %>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Remoto
                    </label>
                    </div>
                  </div>
                  <%= hidden_field_tag :special_event, params[:special_event] %>
                  <%= hidden_field_tag :token, params[:token] %>
                  <%= submit_tag("Filtrar", name: nil, class: "btn btn-filter btn-block-xs margin-bottom-sm col-md-2") %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
	<%= render :partial => 'jobs_list_default' %>
</div>

 

<% if params[:special_event] == "fintechweek"%>
  <section id="sticky-footer-container">
    <%= render :partial => 'company_special_events/footers/sticky_footer' %>
  </section>
<%end%>

<%= javascript_tag do %>
  $('.hidden').removeClass('hidden').hide();
  $('.toggle-text').click(function() {
      $(this).find('span').each(function() { $(this).toggle(); });
  });
  $('#filters').on('hidden.bs.collapse', function () {
    $('#filters').css('height', '');
  });
<% end %>
