<% if @job and @job.errors.any? %>
  <div class="alert alert-danger" role="alert">
    Ha ocurrido uno o más errores:
    <ul>
      <% @job.errors.full_messages.take(5).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @job, :url => {:controller => "admin/jobs", :action => action}  do |f| %>

  <%= hidden_field_tag 'previous_page', params[:page] %>

  <div class="form-row">
    <div class="col-md-3">
      <%if !current_user.company_role?%>
        <div class="form-group">
          <%= f.label :company_id, "Empresa", class:"form-label"%>
          <%= f.collection_select :company_id, Company.order(:name),:id,:name, {include_blank: false}, {:class => "form-control"}  %>
        </div>
      <%else%>
        <%= f.hidden_field :company_id, value: current_user.company_id %>
      <%end%>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label "name_long", class:"form-label"%>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <!--<div class="col-md-3">
      <div class="form-group">
        <%# f.label Job.human_attribute_name("level_id"), :class => "form-label"%>
        <%# f.collection_select :seniority, Level.all,:id,:name, {include_blank: true}, {:class => "form-control"}  %>
      </div>
    </div> -->

  </div>

  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label Job.human_attribute_name("from_date"), :class => "form-label"%>
        <%= f.date_field :from_date, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label Job.human_attribute_name("end_date"), :class => "form-label"%>
        <%= f.date_field :end_date, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label Job.human_attribute_name("country"), :class => "form-label"%>
        <span class= "multiselect-tip" data-toggle='tooltip' title= '<%= t('admin.select_multiple')%>'>?</span>
        <%= select_tag "company_countries", options_for_select(reduced_countries_list), {class:"form-control", :multiple => true, :size => 6} %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label Job.human_attribute_name("city"), :class => "form-label"%>
        <%= f.text_field :city, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :photo, "Imagen", class: "form-label" %>
        <div class="custom-file">
          <%= f.file_field :photo, class: "custom-file-input" %>
          <%= f.label :photo, f.object.show_file_name_for(field: :photo, numCharacters: 51), class: "custom-file-label", "data-browse" => "Elegir" %>
        </div>
        <% unless @job.photo.blank? %>
          <%= image_tag @job.photo(:thumbnail), class:"mt-2", loading: "lazy" %>
          <% unless @job.id.blank? %>
            <%= link_to '<span class="fa fa-trash text-danger"></span>'.html_safe, edit_admin_job_path(@job, photo: true), class:'btn btn-light btn-xs btn-delete-photo' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group custom-control custom-checkbox mt-md-4">
        <%= f.check_box :remote, class: "custom-control-input" %>
        <%= f.label :remote, Job.human_attribute_name("remote"), class: "custom-control-label" %>
      </div>
    </div>
  </div>



  <div class="form-row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label "Descripción", :class => "form-label"%>
        <%= f.cktext_area :detail, rows:5, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.submit class: 'btn btn-lg btn-primary btn-block', data: { disable_with: t(:'messages.sending') }, value: t(:'admin.save') %>
      </div>
    </div>
  </div>

<% end %>

