<% if @user and @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @user.errors.full_messages.take(5).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, :url => {:controller => "admin/user_informations", :action => action}  do |f| %>

  <%
    selected_country = "AR"
    if params[:user] && params[:user][:country]
      selected_country = params[:user][:country]
    end
  %>

  <%= hidden_field_tag 'previous_page', params[:page] %>

  <div class="form-group input-group-md">
    <%= f.label User.human_attribute_name("name"), :class => "form-label"%>
    <%= f.text_field :name, autofocus: true, :class => "form-control" %>
  </div>

  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group input-group-md">
        <%= f.label User.human_attribute_name("country"), :class => "form-label"%>
        <%= f.select(:country, countries_list, {:include_blank => false, :selected => selected_country}, {:class => 'form-control'})%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group input-group-md">
        <%= f.label User.human_attribute_name("city"), :class => "form-label"%>
        <%= f.text_field :city, autofocus: true, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row align-items-center">
    <div class="col-md-4">
      <div class="form-group input-group-md">
        <%= f.label User.human_attribute_name("born_year"), :class => "form-label"%>
        <%= f.number_field :born_year, autofocus: true, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group input-group-md">
        <%= f.label User.human_attribute_name(:study_level), class: 'form-label' %>
        <%= f.collection_select :study_level_id, StudyLevel.order_by_order, :id, :name, { include_blank: false }, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group custom-control custom-checkbox">
    <%= f.check_box :language, class: "custom-control-input" %>
    <%= f.label :language, class: "custom-control-label" %>
  </div>

  <div class="form-group input-group-md">
    <%= f.label User.human_attribute_name("job_areas"), :class => "form-label"%>
    <%= select_tag "job_areas", options_from_collection_for_select(JobArea.order_by_name, :id, :name, @user.job_areas.map{ |j| j.id }), {:class => "custom-select", :multiple => true, :size => 10} %>
  </div>

  <div class="form-group custom-control custom-checkbox">
    <%= f.check_box :rejected, class: "custom-control-input" %>
    <%= f.label :rejected, class: "custom-control-label" %>
  </div>

  <div class="form-group input-group-md">
    <%= f.label User.human_attribute_name(:comment), class: 'form-label' %>
    <%= f.text_area :comment, rows:4, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Guardar", class: "btn btn-lg btn-primary btn-block", data: { disable_with: t('messages.sending') } %>
  </div>

<%end%>
