<section class="no-padding" id="agenda">
  <div class="row no-gutter agenda-special-event-banner" style="background-color: <%= @company_special_event.agenda_color %>;">
    <div class="col-xs-12">
      <div class="agenda-special-event-banner-text">
        <h3><%= @company_special_event.agenda_title %></h3>
        <p>
          <%= @company_special_event.agenda_text.html_safe %>

          <% @company_special_event.agendas.order_by_date.each do |agenda| %>

            <p>&nbsp;</p>
            <h3><%= I18n.l(agenda.date, format: :long) %></h3>
            <p>&nbsp;</p>

            <% agenda.speakers.order_by_start_datetime.each_slice(2) do |speaker_a, speaker_b| %>
              <div class="row" style="color:#000;">
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left large-displays">
                          <a href="<%= speaker_a.link %>" target="_blank">
                            <%= image_tag(speaker_a.photo(:small), alt: speaker_a.full_name, height: "99", class: "media-object", loading: "lazy") %>
                          </a>
                        </div>
                        <div class="media-left small-displays">
                          <a href="<%= speaker_a.link %>" target="_blank">
                            <%= image_tag(speaker_a.photo(:small), alt: speaker_a.full_name, height: "55", class: "media-object", loading: "lazy") %>
                          </a>
                            <%if speaker_a.company_logo.present?%>
                              <%= image_tag(speaker_a.company_logo(:small), alt: speaker_a.full_name, height: "44", class: "media-object", loading: "lazy") %>
                            <%end%>
                        </div>
                        <div class="media-body">
                          <p><%= (speaker_a.start_datetime.in_time_zone('Buenos Aires') - 3.hours).strftime("%H:%M") %> 🇲🇽 DF | <%= speaker_a.start_datetime.in_time_zone('Buenos Aires').strftime("%H:%M") %> 🇦🇷 🇨🇱</p>
                          <h4 class="media-heading"><%= speaker_a.full_name %></h4>
                          <p><a href="<%= speaker_a.link %>" target="_blank"><%= speaker_a.title %></a></p>
                        </div>
                        <div class="media-right large-displays">
                          <%if speaker_a.company_logo.present?%>
                            <%= image_tag(speaker_a.company_logo(:small), alt: speaker_a.full_name, height: "99", class: "media-object", loading: "lazy") %>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% if speaker_b.present? %>
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="media">
                          <div class="media-left large-displays">
                            <a href="<%= speaker_b.link %>" target="_blank">
                              <%= image_tag(speaker_b.photo(:small), alt: speaker_b.full_name, height: "99", class: "media-object", loading: "lazy") %>
                            </a>
                          </div>
                          <div class="media-left small-displays">
                            <a href="<%= speaker_b.link %>" target="_blank">
                              <%= image_tag(speaker_b.photo(:small), alt: speaker_b.full_name, height: "55", class: "media-object", loading: "lazy") %>
                            </a>
                              <%if speaker_b.company_logo.present?%>
                                <%= image_tag(speaker_b.company_logo(:small), alt: speaker_b.full_name, height: "44", class: "media-object", loading: "lazy") %>
                              <%end%>
                          </div>
                          <div class="media-body">
                            <p><%= (speaker_b.start_datetime.in_time_zone('Buenos Aires') - 3.hours).strftime("%H:%M") %> 🇲🇽 DF | <%= speaker_b.start_datetime.in_time_zone('Buenos Aires').strftime("%H:%M") %> 🇦🇷 🇨🇱</p>
                            <h4 class="media-heading"><%= speaker_b.full_name %></h4>
                            <p><a href="<%= speaker_b.link %>" target="_blank"><%= speaker_b.title %></a></p>
                          </div>
                          <div class="media-right large-displays">
                            <%if speaker_b.company_logo.present?%>
                              <%= image_tag(speaker_b.company_logo(:small), alt: speaker_b.full_name, height: "99", class: "media-object", loading: "lazy") %>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
