<% content_for :title, (t('company.show.header.title', :name => @company.name)) %>

<input type="hidden" id="hdn_company_id" name="hdn_company_id" value="<%=@company.id%>">
<div class="container-fluid" style="margin-top: 50px;">

	<%= render partial: 'information' %>

	<div id="company_social_bar_top">
  </div>

  <div class="row no-gutter">
    <div class="col-md-2 col-sm-0">
    </div>
    <div class="col-md-8 col-sm-12">
			<nav class="navbar navbar-social navbar-fixed-bottom" id="company-social-bar-nav">
  			<div class="container-fluid">
					<div class="company-social-bar" id="company-social-bar">
						<ul>
							<li>
								<%if current_user%>
									<a id="btn_company_favorite" name="btn_company_favorite" href="#" onclick="ga('send', 'event', 'LikeCompany', 'Mibucle', '<%=@company.name.html_safe%>');">
										<i id="btn_favorite_heart" class="fa fa-heart">
										</i>
									</a>
								<%else%>
									<a href="" data-toggle="tooltip" data-placement="top" title="<%=t('users.validations.like')%>">
										<i id="btn_favorite_heart" class="fa fa-heart ">
										</i>
									</a>
								<%end%>
							</li>
						</ul>
					</div>
				</div>
			</nav>
    </div>
    <div class="col-md-2 col-sm-0">
    </div>
  </div>
</div>
<div id="company-social-bar-limit"></div>
<div class="container-fluid">
  <div id="company-jobs" class="anchor"></div>
	<%= render :partial => 'other_jobs' %>
		<%#= render :partial => 'list_other_companies' %>
</div>

<%if !(cookies[:iframe_mode].present? && cookies[:iframe_mode] == 'true') %>
	 
<%end%>
