<% if @company_special_event.present? && @company_special_event.code == "PortalEmpleoFinteChile" %>
  <% content_for :title, (t('company.show.header.title_fintechile', :name => @company.name)) %>
<% else %>
  <% content_for :title, (@company.page_title.present? ? @company.page_title : t('company.show.header.title', :name => @company.name)) %>
<% end %>

<% content_for :metadescription, (@company.meta_descript.present? ? @company.meta_descript : t('company.show.header.description',:name => @company.name)) %>
<% content_for :script, ('<link rel="canonical" href="' + @canonical_url + '" />').html_safe %>

<%if !@company.active || @preview %>
	<% content_for :script, '<meta name="robots" content="noindex" />'.html_safe %>
<%end%>
<%= render :partial => 'layouts/structured_data' %>

<% content_for :analytics_page_name, ("ga('set', 'page', '" + @page_name + "')").html_safe %>

<%
opengraph = ""
opengraph += '<meta property="og:url" content="' + request.original_url + '" />'
opengraph += '<meta property="og:title" content="' + t('company.share.opengraph.title', :name => @company.name) + '" />'
opengraph += '<meta property="og:description" content="' + t('company.share.opengraph.summary', :name => @company.name, :location => (@company.city.blank? ? @company.state : @company.city ) )  + ((@company_jobs.length  > 0 || !@company.jobs_url.blank?) ? t('company.share.opengraph.summary_jobs') : '' ) + '" />'
opengraph += '<meta property="og:site_name" content="' + ENV['SITE_NAME'] + '" />'
opengraph += '<meta property="og:image" content="' + @company.main_photo.url(:large) + '" />'
opengraph += '<meta property="og:image:width" content="1200" />'
opengraph += '<meta property="og:image:height" content="630" />'
opengraph += '<meta property="og:type" content="' + "article" + '" />'
opengraph += '<meta property="fb:app_id" content="' + ENV['FB_APP_ID'] + '" />'
opengraph += '<meta property="article:published_time" content="' + @company.created_at.strftime('%FT%T') + '" />'
opengraph += '<meta property="article:tag" content="' + (@company.industries.map { |t| t.name }.join(',') ) + '" />'
opengraph += '<meta name="twitter:card" content="summary_large_image">'
opengraph += '<meta name="twitter:site" content="@mibuclecom">'
opengraph += '<meta name="twitter:title" content="' + t('company.share.opengraph.title', :name => @company.name) + '">'
opengraph += '<meta name="twitter:description" content="' + @company.long_summary + '">'
opengraph += '<meta name="twitter:image" content="' + @company.main_photo.url(:large) + '">'
opengraph += '<meta name="twitter:domain" content="mibucle.com">'
opengraph += '<meta name="twitter:url" content="' + request.original_url + '">'
%>

<% content_for :opengraph, opengraph.html_safe %>

<% if Setting.show_subheader_company? %>
  <% unless @company_special_event.present? && ["udesa", "PortalEmpleoFinteChile"].include?(@company_special_event.code) %>
    <%= render :partial => 'layouts/subheader_jobs' %>
  <% end %>
<% end %>

<input type="hidden" id="hdn_company_id" name="hdn_company_id" value="<%=@company.id%>">

<div class="container-fluid">
	<%= render partial: 'information' %>

	<% if @multioffice %>
	  <%= render partial: 'multioffice' %>
	<% elsif @company.office.present?  %>
    <%= render partial: 'office_detail', locals: { office: @company.office, office_id: 0 } %>
  <% end %>
</div>

<div class="container-fluid">
  <div id="company-jobs" class="anchor"></div>
	<%= render :partial => 'other_jobs' %>
</div>

<div class = "container-fluid">
  <% unless @recommended_advices.blank?%>
    <%= render :partial => 'advice_list' %>
  <% end %>
</div>

<%if !(cookies[:iframe_mode].present? && cookies[:iframe_mode] == 'true') %>
	<%= render :partial => 'layouts/askmail' %>
<%end%>
