<section id="home-companies">
  <h2 class="mg-l-2">
    Conoce las empresas
  </h2>
  <hr>
  <div id="home-companies-container">
    <div id="home-companies-card">
      <%= image_tag 'placeholder-image' , :id => "home-company-photo"%>
      <h4>
        Nombre_empresa
      </h4>
      <%= image_tag 'logo-placeholder-image' , :id => "home-company-logo", :width => "70", :height => "auto"%>
    </div>
    <div id="home-companies-card">
      <%= image_tag 'placeholder-image' , :id => "home-company-photo"%>
      <h4>
          Nombre_empresa
      </h4>
      <%= image_tag 'logo-placeholder-image' , :id => "home-company-logo", :width => "70", :height => "auto"%>
    </div>
    <div id="home-companies-card">
      <%= image_tag 'placeholder-image' , :id => "home-company-photo"%>
      <h4>
          Nombre_empresa
      </h4>
      <%= image_tag 'logo-placeholder-image' , :id => "home-company-logo", :width => "70", :height => "auto"%>
    </div>
    <div id="home-companies-card">
      <%= image_tag 'placeholder-image' , :id => "home-company-photo"%>
      <h4>
          Nombre_empresa
      </h4>
      <%= image_tag 'logo-placeholder-image' , :id => "home-company-logo", :width => "70", :height => "auto"%>
    </div>
    <div id="home-companies-card">
      <%= image_tag 'placeholder-image' , :id => "home-company-photo"%>
      <h4>
          Nombre_empresa
      </h4>
      <%= image_tag 'logo-placeholder-image' , :id => "home-company-logo", :width => "70", :height => "auto"%>
    </div>
    <div id="home-companies-card">
      <%= image_tag 'placeholder-image' , :id => "home-company-photo"%>
      <h4>
          Nombre_empresa
      </h4>
      <%= image_tag 'logo-placeholder-image' , :id => "home-company-logo", :width => "70", :height => "auto"%>
    </div>
  </div>
</section>