<div class=".admin" style="margin-top: 67px;">
<nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <% if @media_objs_flag %>
      <div class="btn-nav">
        <%=link_to "Ver Multimedia", admin_office_media_objects_path(@office), class:"btn btn-primary btn-multimedia"%>
      </div>  
      <% if @media_objs_nil.present? %>
        <div class="sortable-nav break-word" id="media_objs_nil" data-url="<%= sort_mo_nil_admin_offices_path %>">
          <% @media_objs_nil.each do |mo|%>
            <%= render partial: 'admin/offices/media_object' ,locals: {:media_object => mo}%>
          <% end %>
        </div>
      <% elsif @media_objs_carousel_nil.present? %>
        <div class="sortable-nav break-word" id="media_objs_carousel_nil" data-url="<%= sort_carousel_nil_admin_offices_path %>">
          <% @media_objs_carousel_nil.each do |mo|%>
            <%= render partial: 'admin/offices/media_object' ,locals: {:media_object => mo}%>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to admin_dashboard_path, class:"nav-link" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
          Panel de administración
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_companies_path, class:"nav-link" do %>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="feather bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
              <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
            </svg>
            Empresas
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_jobs_path, class:"nav-link" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
          Avisos
          <% end %>
        </li>
        <% if !(current_user&.content_editor? || current_user&.content_editor_plus?) %>
          <li class="nav-item">
            <%= link_to admin_job_applications_path, class:"nav-link" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            Postulaciones
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_analytics_path, class:"nav-link" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
            Estadísticas
            <% end %>
          </li>
        <% end %>
        <hr>

        <li class="nav-item list-inline-item"><%= link_to Industry.human_attribute_name("industry"), admin_industries_path, class:"nav-link" %></li>


        <li class="nav-item"><%= link_to User.human_attribute_name("user"), admin_users_path, class:"nav-link" %></li>
        <ul>
          <li class="nav-item list-inline-item"><%= link_to "Información Cv Usuario", admin_user_informations_path, class:"nav-link" %></li>
        </ul>

      </ul>
    <% end %>
  </div>
</nav>
</div>