<% content_for :title, t('company_favorite.header.title') %>
<% content_for :metadescription, t('company_favorite.header.description') %>
<% content_for :script, '<meta name="robots" content="noindex, nofollow" />'.html_safe %>

<div class="container-fluid">
  <div class="row no-gutter">
  	<div class="col-md-2 col-sm-0">
    </div>
    <div class="col-md-8 col-sm-12">
			<div class="company-favorites-header">
        <h1><%=t('company_favorite.main.title')%></h1>
        <p>
          <%unless @companies.nil? || @companies.empty?%>
            <%=t('company_favorite.main.detail')%>
          <%else%>
            <%=t('company_favorite.main.empty')%>
            <a href="<%=companies_path%>"><%=t('company_favorite.main.viewall')%></a>
          <%end%>
        </p>
      </div>
    </div>
    <div class="col-md-2 col-sm-0">
    </div>
	</div>
  <%= render :partial => 'companies/companies_list_default' %>
  <div class="row no-gutter">
    <div class="col-lg-12 ">
      <div class="company-favorites-viewmore">
        <a href="<%=companies_path%>" class="btn btn-primary btn-xl page-scroll btn-margin"><%=t('company_favorite.main.viewmore')%></a>
      </div>
    </div>
  </div>
</div>

