<% content_for :title, t('users.header.passwords.edit.title') %>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-body">
        <h2><%=t :'users.password.edit.title' %></h2>
          <% if @user and @user.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group input-group-lg">
              <label class="form-label"><%= t('users.fields.messages.new') + User.human_attribute_name("password")%>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> <%=t :'users.fields.messages.charactersminimum' %>)</em><br />
                <% end %>
              </label><br>
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => t('users.fields.messages.enter') + t('users.fields.messages.new') + User.human_attribute_name("password") %>
            </div>

            <div class="form-group input-group-lg">
              <%= f.label (t('users.fields.messages.reenter') + t('users.fields.messages.new') + User.human_attribute_name("password")), :class => "form-label"%>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => t('users.fields.messages.reenter') + t('users.fields.messages.new') + User.human_attribute_name("password") %>
            </div>

            <div class="form-group">
              <%= f.submit  t('users.actions.update') , :class => "btn btn-lg btn-primary btn-block", data: { disable_with: t('messages.sending') } %>
            </div>
          <%end%>
          <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
