<tr>
    <td class="bodycopy"> 
        <p><%=t :'users.mailer.resetpassword.part1' %><%= @resource.email %>!</p>

        <p><%=t :'users.mailer.resetpassword.part2' %></p>

        <p><%= link_to t('users.actions.update'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

        <%=t :'users.mailer.resetpassword.part3_html' %>
    </td>
</tr>