<h2><%=t :'users.registrations.new.title' %></h2>
<% if @user and @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @user.errors.full_messages.take(5).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p><br><%=t :'users.registrations.new.withemail' %></p>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="form-group input-group-lg">
    <%= f.label User.human_attribute_name("name"), :class => "form-label"%>
    <%= f.text_field :name, autofocus: true, :class => "form-control", :placeholder => t('users.fields.messages.enter') + User.human_attribute_name("name") %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label User.human_attribute_name("email"), :class => "form-label"%>
    <%= f.email_field :email, autofocus: false, :class => "form-control", :placeholder => t('users.fields.messages.enter') + User.human_attribute_name("email") %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label User.human_attribute_name("password"), :class => "form-label"%>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => t('users.fields.messages.enter') + User.human_attribute_name("password") %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label (t('users.fields.messages.reenter') + User.human_attribute_name("password")), :class => "form-label"%>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => t('users.fields.messages.reenter') + User.human_attribute_name("password") %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label User.human_attribute_name("country"), :class => "form-label"%>

    <%= f.select(:country, countries_list, {:include_blank => false, :selected => "Argentina" }, {:class => 'form-control'})%>
  </div>

  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
  <div class="form-group">
    <%= f.submit  t('users.actions.signup') , :class => "btn btn-lg btn-primary btn-block", data: { disable_with: t('messages.sending') } %>
  </div>
  <p>
    <a href="<%= new_user_session_path(from_event: session[:from_event]) %>"><%=(t('users.actions.signin')).upcase %></a>
  </p>
<%end%>
